body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inder: Inder;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-deepskyblue: #66acec;
  --color-black: #000;
  --color-limegreen: #4ec743;

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-8xs: 5px;
}
